.line-chart {
  display: block;

  .line {
    fill: none;
    stroke-width: 3;
  }
  .line-brand-orange{
    stroke: $brand-orange;
  }
  .line-brand-blue{
    stroke: $brand-blue;
  }
  circle{
    width: 8px;
    height: 8px;
    cursor: pointer;

    &.circle-brand-blue {
      fill: $brand-blue;
    }
    &.circle-brand-orange {
      fill: $brand-orange;
    }
  }
  .area-brand-blue{
    fill: url(#gradient-blue);
  }
  .area-brand-orange{
    fill: url(#gradient-orange);
  }
  .aura {
    transition: r .5s ease;
    fill: none;
    stroke-width: 1;
  }
}

.line-chart .axis{
  path, line {
    fill: none;
    stroke: #888;
    stroke-width: 0.5;
  }
  .path{
    stroke: none;
  }
  .line {
    fill: none;
    stroke: #888;
    stroke-width: 1px;
  }
  .tick text{
    fill: #888;
    font-size: 12px;
  }
  .tick line{
    opacity: 0.2;
  }
}

.month-chart{
  .heading{
    font-size: 16px;
    fill: $gray-5;
  }
  .day-text {
    font-size: 16px;
    fill: $brand-orange;
  }
  rect.valid:hover{
    cursor: pointer;
  }
}

#calendar {
  width: 100%;
  display: block;
  background-color: $light-white-color;

  text {
    fill: $gray-5;
    text-anchor: middle;
    font-size: 16px;
  }

  rect:hover{
    cursor: pointer;
  }
  line:first-of-type {
    stroke: $gray-1;
  }
  line{
    stroke-width: 1;
    stroke:$dark-white-color;
  }

}