
.activity-list{
  list-style: none;
  padding: 0;
  width: 100%;
  box-sizing: border-box;

  &__category{
    cursor: default;
    width: 100%;
    text-indent: 30px;
    line-height: 40px;
    font-size: 16px;
    position: relative;
    z-index: 2;
    border-bottom: 1px solid $brand-blue-30;
    color: $brand-blue-10;
    background-color: $light-white-color;
  }

  &__category-sublist{
    cursor: pointer;
    border-top: 1px solid $brand-blue-30;
    font-size: 14px;
    display: none;
    list-style: none;
    padding: 0;
    line-height: 26px;
    color: $brand-orange-10;

    li:hover{
      color: $brand-orange;
      text-decoration: underline;
    }
  }

  &__category:hover &__category-sublist{
    display: block;
  }
}


