@import '../variables.scss';

.history-list{
    color: $bluish-gray-color;
    font-size: 16px;
    list-style: none;

    .spent-time{
        float: right;
    }
    .date{
        display: inline-block;
        margin-right: 15px;
        font-weight: 600;
    }
}

.history-list__filters {
  list-style: none;
  text-align: center;
  padding: 0;
  li{
    display: inline-block;

  }
  li:not(:first-child) {
    margin-left: 10px;
  }
}

.history-list__filter-item {
  cursor: pointer;
  color: $medium-blue-color;
  text-decoration: underline;
  &:hover{
    color: $medium-blue-shadow-color;
  }
}