@import '../variables.scss';

$canvas-width: 330px;
$canvas-height: 330px;
.progress-box {
  width: $canvas-width;
  height: $canvas-height;
  color: $light-blue-color;
  background-color: $light-blue-color;
  border-radius: 100%;
  margin: 20px auto;
  position: relative;
}

.progress-box__timer{
  position: absolute;
  z-index: 11;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: $brand_blue;
  left: 0;
  font-size: 48px;
  width: 100%;
}

.progress-box__activity-name{
  position: absolute;
  z-index: 11;
  top: 100px;
  width: 100%;
  text-align: center;
  left: 0;
  color: $brand_blue_20;
  font-size: 28px;
}

.progress-box__controls{
  width: 100%;
  position: absolute;
  z-index: 11;
  top: 220px;
  text-align: center;
  left: 0;

}
.progress-box__controls button{
  background-color: $brand-orange-20;
  color: #fff;
  border: none;
  font-size: 24px;
  margin: 0 6px;
  cursor: pointer;
}
.progress-box__controls button:focus{
  outline: none;
}
.progress-box__controls button:hover{
  background-color: $brand-orange-10;
}

.progress-box__canvas {
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  width: $canvas-width;
  height: $canvas-height;

  border-radius: 50%;
}
.progress-box::before, .progress-box::after{

  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  content: '';
  top: 30px;
  left: 30px;
  width: $canvas-width - 60px;
  height: $canvas-height - 60px;

}

.progress-box::before{
  z-index: 10;
}

.progress-box::after{
  z-index: 1;
  //box-shadow: 5px 5px 2px $light-blue-shadow-color;
}
