.weekly-calendar{

  &__header{
    color: #172A37;
    padding-left: calc(100% / 8);
    box-sizing: border-box;

    li {
      text-align: center;
      display: inline-block;
      width: calc(100% / 7);
    }
  }

  #calendar {
    rect {
      fill: #2FC4F7;
    }
    rect:hover{
      fill: #0794c5;
      stroke: #3daed3;
      stroke-width: 2;
    }
    line{
      stroke-width: 1;
      stroke: #ddd;
    }
    text {
      fill: #444;
    }
  }

}
