.weekly-calendar-module{
  min-height: 100%;
  margin: 0 auto;
  background-color: $dark-white-color;
  padding: 40px 5% 0;
}

.weekly-calendar {
  width: 100%;
  background-color: $light-white-color;
  margin-top: 40px;
  &__header{
    color: #172A37;
    box-sizing: border-box;
    padding-left: calc(100% / 8);
    margin-right: 62px;
    li {
      text-align: center;
      display: inline-block;
      width: calc(100% / 7);
    }
  }
  &__hint-container {
    position: relative;
  }
  &__hint{
    box-sizing: border-box;
    width: 200px;
    background-color: #172A37;
    border-radius: 3px;
    position: absolute;
    z-index: 10;
    font-size: 14px;
    color: #fafafa;
    padding: 10px 10px;

    h3{
      text-align: center;
      color: #6CD5FA;
      font-size: 16px;
      margin: 0;
    }
    &::after {
      content: '';
      box-sizing: border-box;
      position: absolute;
      top: 10px;
      border-top: 10px solid transparent;
      border-bottom: 10px solid transparent;
    }

    &--left::after{
      left: 100%;
      border-left: 10px solid #172A37;

    }

    &--right::after{
      right: 100%;
      border-right: 10px solid #172A37;
    }

  }

  #calendar {

    width: 100%;
    display: block;
    background-color: $light-white-color;
    rect:hover{
      cursor: pointer;
    }
    line{
      shape-rendering: crispEdges;
      stroke-width: 1;
      stroke: #ddd;
    }
    text {
      fill: #888;
    }
  }
}